/* #region common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-card-bg: hsl(217, 19%, 24%);
  --clr-primary-success: hsl(150, 100%, 66%);
  --clr-grayish: hsl(217, 19%, 38%);
  --clr-darker: hsl(218, 23%, 16%);
  --clr-text: hsl(193, 38%, 86%);

  /* font family */
  --ff: "Manrope", sans-serif;
  /* font weight */
  --fw-lg: 800;
}

body {
  font-family: var(--ff);
  background-color: var(--clr-darker);
  min-height: 100vh;
}
/* #endregion common rules */

/* #region main */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.card {
  background-color: var(--clr-card-bg);
  border-radius: 0.675rem;
  text-align: center;
  max-width: 560px;
}
.card_header {
  color: var(--clr-primary-success);
  text-transform: uppercase;
  padding: 2rem 0 2rem 0;
  letter-spacing: 0.25rem;
  font-size: 0.875rem;
}
.quote {
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-weight: var(--fw-lg);
  font-size: 1.75rem;
  color: var(--clr-text);
}
.divider {
  padding: 2rem 0 2rem 0;
}

.cta button {
  width: 70px;
  background-color: var(--clr-primary-success);
  aspect-ratio: 1;
  border: none;
  border-radius: 100%;
  position: relative;
  bottom: -2rem;
}
/* #endregion main */

/* hover effects */

button:hover {
  cursor: pointer;
  box-shadow: 10px 10px 50px 12px var(--clr-primary-success);
  transition-duration: 0.2s;
}
