/* #region common rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-card-bg: hsl(217, 19%, 24%);
  --clr-primary-success: hsl(150, 100%, 66%);
  --clr-grayish: hsl(217, 19%, 38%);
  --clr-darker: hsl(218, 23%, 16%);
  --clr-text: hsl(193, 38%, 86%);

  /* font family */
  --ff: "Manrope", sans-serif;
  /* font weight */
  --fw-lg: 800;
}

body {
  font-family: var(--ff);
  background-color: var(--clr-darker);
}

.quote {
  font-weight: var(--fw-lg);
  font-size: 1.75rem;
}
/* #endregion common rules */

/* #region main */
#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
}
main {
  flex-grow: 3;
}
.card {
  background-color: var(--clr-card-bg);
  border-radius: 0.25rem;
  text-align: center;
}
.card_header {
  color: var(--clr-primary-success);
  text-transform: uppercase;
}
/* #endregion main */
